*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: rgb(69, 69, 69);
    padding: 0;
    line-height: 1.6;
    margin: 0;
}
/*Header*/

header{
    display: flex;
    flex-direction: row;
    height: 170px;
    width: 100%;
    background-color: rgb(248, 248, 184);
    align-items: center;
    box-shadow: 0px 2px 5px black;
    justify-content: space-between;
}

    /*Logo*/

.logo{
    margin: 5% 2%;
    width: 10%;
    height: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-left: 10%;
}

.logo img{
    width: 80%;
    height: auto;
}

    /*Titulos*/

.titulos{
    text-align: center;
    width: 10%;
    margin-right: 10%;
    margin-top: 1%;
}

.titulo p{
    color: aliceblue;
    text-shadow: 1px 1px black;
    font-size: x-large;
}

.titulo2 p{
    font-size: x-large;
    color: rgb(255, 173, 101);
    text-shadow: 1px 1px rgb(0, 0, 0);
}


    /*Icone Usuário*/

.icone-usuario img{
    width: 40px;
    height: 40px;
    padding: 10px;
}
.icone-usuario{
    margin-top: 1%;
    margin-right: 10%;
    height: 65px;
    text-align: center;
    padding: 0;
    border: 1px solid black;
    border-radius: 35px;
    background-color: beige;
}
.icone-usuario:hover{
    background-color: red;
    border: 3px solid aliceblue;
    outline: 1px solid black;
    transition: 0.3s ease-in-out;
}

/*Main*/


    /*Nav*/

.nav{
    text-align: center;
    border-top: 1px solid black;
    padding: 1.5%;
    display: grid;
    gap: 10px;
    box-shadow: 5px 5px 5px rgb(153, 153, 153);
    background-color: beige;
}

.btnX{
    background-color: rgb(255, 55, 0);
    padding: 5px;
    margin-left: 5px;
}

.nav ul{
    justify-content: space-between;
}

.nav a{
    position: relative;
    text-decoration: none;
    color: black;
}

.nav a:hover{
    color: aliceblue;
}

.nav li{
    text-decoration: none;
    list-style-type: none;
    display: inline;
    padding: 1.5%;
}

.nav li:hover{
    transition: 0.3s ease-in-out;
    background-color: rgb(255, 106, 0);
    box-shadow: 5px 5px rgb(0, 0, 0);
    border-radius: 6%;
}

.nav li:hover a{
    color: aliceblue;
}


/*Form*/

.container{
    width: 70%;
    background-color: rgb(248, 248, 184);
    margin-left: 12%;
    padding: 4%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 5px black;
    justify-content: center;

}

#formReceita{
    min-height: 700px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 0.8fr;
    gap: 5%;
    align-items: center;
}

.cadastrarReceita{
    margin-top: 2%;
    width: 75%;
    margin-left: 13%;
}

.divBackground{
    background-color: beige;
    border: 1px solid black;
    padding: 5%;
}

#formReceita input{
    padding: 10px;
}

#formReceita label{
    padding: 2%;
}

#descricao{
   margin-left: 1%; 
}

#descricao div{
    margin-top: 10%;
}

.botoes{
    row-gap: 40px;
    display: flex;
    flex-direction: column;
}



textarea{
    width: 50%;
}


.listaUl{
    display: flex;
    flex-direction: row;
}

.listaUl div input{
    padding: 2%;
}

.listaUl div{
    margin-top: 10%;
    margin-left: 5%;
}

.listaUl h3{
    align-self: center;
}

#listaIngredientes li, #listaUtensilios li, #listaPassos li{
    margin-left: 10px;
    list-style: none;
    margin-top: 1px;
}



.cadastrar:hover{
    background-color: aliceblue;
    color: black;
    transform: scale(1.05);
}

h3{
    background-color: rgb(255, 142, 4);
    padding: 1%;
    padding-left: 3%;
    border-top-left-radius: 7%;
    border-bottom-right-radius: 7%;
    margin-bottom: 5%;
    border: 1px solid black;
}

.listas{
    grid-column: 3;
    grid-row: 1 / span 10; /* ocupa várias linhas fixas */
    align-self: start;
    position: relative;
    top: 30px; /* efeito “sidebar fixa” */
}

/*#formReceita button{
    padding: 1%;
    width: 30%;
    height: 100%;
    text-decoration: none;
    background-color: rgb(255, 173, 101);
    color: white;
    padding: 10px 25px;
    border-radius: 10px;

    font-weight: bold;
    border: 1px solid black;
}*/

#formReceita button:hover{
    background-color: aliceblue;
    color: black;
    transform: scale(1.05);
}


.cadastrar{
    padding: 1%;
    padding-right: 2%;
    padding-left: 2%;
    text-decoration: none;
    background-color: rgb(145, 68, 0);
    color: white;
    border-radius: 10px;
    align-self: flex-end;
    font-weight: bold;
    border: 1px solid black;
}

.btnAdicionar{
    background-color: rgb(255, 142, 4);
    color: rgb(0, 0, 0);
    padding: 10px;
}

/*Footer*/


footer{
    margin-top: 10%;
    width: 100%;
    height: 150px;
    position: relative;
    bottom: 0;
    padding: 10px 0 10px 0;
    text-align: center;
    background-color: rgb(39, 34, 34);
}

footer div{
    color: aliceblue;
    margin: 20px;
}

