*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: rgb(69, 69, 69);
    padding: 0;
    line-height: 1.6;
    margin: 0;
}
body{
    background-color: aliceblue;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
li{
    display: inline;
    text-decoration: none;
    list-style-type: none;
    padding: 20px
}
header{
    height: 150px;
    width: 100%;
    background-color: rgb(248, 248, 184);
}
.nav{
    text-align: center;
    border-top: 1px solid black;
    padding: 1.5%;
    display: grid;
    gap: 10px;
    box-shadow: 5px 5px 5px rgb(153, 153, 153);
    background-color: beige;
}

.nav ul{
    justify-content: space-between;
}

.nav a{
    position: relative;
    text-decoration: none;
    color: black;
}

.nav a:hover{
    color: aliceblue;
}

.nav li{
    text-decoration: none;
    list-style-type: none;
    display: inline;
    padding: 1.5%;
}

.nav li:hover{
    transition: 0.3s ease-in-out;
    background-color: rgb(255, 106, 0);
    box-shadow: 5px 5px rgb(0, 0, 0);
    border-radius: 6%;
}

.nav li:hover a{
    color: aliceblue;
}


.itens-header img{
    width: 130px;
    height: 100px;
    padding: 20px;
    padding-left: 150px;
    position: relative;
    z-index: 2  ;
}
.itens-header{
    padding: 0px;
    display: flex;
    z-index: 1;
}
.barraPesquisa{
    text-align: center;
    display: flex;
    padding-left: 130px;;
    height: 30px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding-top: 65px;
}
#inp-procurar{
    width: 500px;
    height: 27px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    display: fixed;
    border-right: none;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 1;
    border: 2px solid aliceblue;
    outline: 1px solid black;
    margin-top: 0.2px;
}
#btn-procurar{
   width: 100px;
   height: 31px;
   border: 1px solid black;
   border-bottom-right-radius: 15px;
   border-top-right-radius: 15px;
   z-index: 1;
}
.icon-usuario img{
    width: 40px;
    height: 40px;
    padding: 10px;
}
.icon-usuario{
    height: 65px;
    text-align: center;
    padding: 0;
    margin-top: 45px;
    margin-left: 115px;
    border: 1px solid black;
    border-radius: 35px;
    background-color: beige;
}
.icon-usuario:hover{
    background-color: red;
    border: 3px solid aliceblue;
    outline: 1px solid black;
    transition: 0.3s ease-in-out;
}
li:hover{
    transition: 0.3s ease-in-out;
    background-color: red;
    box-shadow: 5px 5px rgb(0, 0, 0);

}
li:hover a{
    color: aliceblue;
}
button:hover{
    background-color: red;
    transition: 0.3s;
}
/*.faixa{
    padding-left: 600px;
    position: fixed;
    background-color: red;
    width:40%;
    height: 150px;
    top: 0px;
    z-index: 0;
    clip-path: content-box polygon(0% 100%, 00% 0%, 80% 100%);
}
.bloco{
    position: sticky;
    background-color: red;
    width: 600px;
    height: 150px;
    top: 0px;
    z-index: 0;
}*/
footer{
    width: 100%;
    height: 150px;
    position: relative;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background-color: rgb(39, 34, 34);
}
footer div{
    color: aliceblue;
    margin: 20px;
}
.titulo{
    margin-left: 270px;
    position: relative;
    z-index: 2  ;
    bottom: 95px;
    left: 50px;
}
.titulo2{
    margin-left: 270px;
    position: relative;
    z-index: 2  ;
    bottom: 100px;
    left: 60px;
}
.titulo p{
    color: aliceblue;
    text-shadow: 1px 1px black;
    font-size: large;
}
.titulo2 p{
    font-size: large;
    color: rgb(255, 173, 101);
    text-shadow: 1px 1px rgb(0, 0, 0);
}
.container{
    margin: 100px;
    gap: 150px;
    display: grid;
    grid-template-columns: 500px 500px;
    margin-left: 318px;
}
.receita{
    display: block;
    width: 500px;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px rgb(153, 153, 153);
    background-color: rgb(255, 173, 101);
    overflow: hidden;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.receita h1{
    padding: 5px;
    padding-left: 20px;
    border: 3px solid black;
}
.receita img{
    margin-left: 0;
}
.recei_info{
    padding: 20px;
    border: 3px solid black;
    width: 456px;
    background-color:antiquewhite;
    overflow: hidden;
    position: relative;
}
.receita img{
    transition: transform 0.5s ease-in-out;  
}
.recei-titu{
    background-color:antiquewhite;
}
.receita:hover img{
    transform: scale(1.2);
}
#card-img{
    border: 4px solid black;  
    overflow: hidden;
    padding: 0  ;
    margin: 0;
    height: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.campo{
    margin-left: 5px;
}
