*{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    color: rgb(69, 69, 69);
    padding: 0;
    line-height: 1.6;
    margin: 0;
}
body{
    background-color: aliceblue;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.nav li{
    display: inline;
    text-decoration: none;
    list-style-type: none;
    padding: 20px
}
header{
    height: 150px;
    width: 100%;
    background-color: rgb(248, 248, 184);
}
.nav{
    text-align: center;
    border-top: 1px solid black;
    padding: 20px;
    display: grid;
    gap: 10px;
    box-shadow: 5px 5px 5px rgb(153, 153, 153);
    background-color: beige;
}
.nav a{
    position: relative;
}
.nav a:hover{
    color: aliceblue;
}
.itens-header img{
    width: 130px;
    height: 100px;
    padding: 20px;
    padding-left: 150px;
    position: relative;
    z-index: 2  ;
}
.itens-header{
    padding: 0px;
    display: flex;
    z-index: 1;
}
.barraPesquisa{
    text-align: center;
    display: flex;
    padding-left: 130px;;
    height: 30px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding-top: 65px;
}
#inp-procurar{
    width: 500px;
    height: 27px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    display: fixed;
    border-right: none;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 1;
    border: 2px solid aliceblue;
    outline: 1px solid black;
    margin-top: 0.2px;
}
#btn-procurar{
   width: 100px;
   height: 31px;
   border: 1px solid black;
   border-bottom-right-radius: 15px;
   border-top-right-radius: 15px;
   z-index: 1;
}
.icon-usuario img{
    width: 40px;
    height: 40px;
    padding: 10px;
}
.icon-usuario{
    height: 65px;
    text-align: center;
    padding: 0;
    margin-top: 45px;
    margin-left: 115px;
    border: 1px solid black;
    border-radius: 35px;
    background-color: beige;
}
.icon-usuario:hover{
    background-color: red;
    border: 3px solid aliceblue;
    outline: 1px solid black;
    transition: 0.3s ease-in-out;
}
.nav li:hover{
    transition: 0.3s ease-in-out;
    background-color: red;
    box-shadow: 5px 5px rgb(0, 0, 0);

}
header li:hover a{
    color: aliceblue;
}
button:hover{
    background-color: red;
    transition: 0.3s;
}
/*.faixa{
    padding-left: 600px;
    position: fixed;
    background-color: red;
    width:40%;
    height: 150px;
    top: 0px;
    z-index: 0;
    clip-path: content-box polygon(0% 100%, 00% 0%, 80% 100%);
}
.bloco{
    position: sticky;
    background-color: red;
    width: 600px;
    height: 150px;
    top: 0px;
    z-index: 0;
}*/
footer{
    width: 100%;
    height: 150px;
    position: relative;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background-color: rgb(39, 34, 34);
}
footer div{
    color: aliceblue;
    margin: 20px;
}
.titulo{
    margin-left: 270px;
    position: relative;
    z-index: 2  ;
    bottom: 95px;
    left: 50px;
}
.titulo2{
    margin-left: 270px;
    position: relative;
    z-index: 2  ;
    bottom: 100px;
    left: 60px;
}
.titulo p{
    color: aliceblue;
    text-shadow: 1px 1px black;
    font-size: large;
}
.titulo2 p{
    font-size: large;
    color: rgb(255, 173, 101);
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.container{
    width: 80%;
    margin: 5%;
    margin-top: 2%;
    margin-left: 10%;
    display: flex;
    border: 3px solid black;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(255, 173, 101);
}

.info-geral{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-geral div{
    padding: 2%;
    background-color: azure;
    width: 40%;
    height: auto;
    margin: 1%;
    box-shadow: 1px 1px 3px black;
}

.info-geral img{
    margin-top: 1%;
    width: 100%;
    height: auto;
    border: 1px solid black;
}


.info-receita-preparo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-receita-preparo div{
    padding: 2%;
    background-color: azure;
    width: 40%;
    height: auto;
    margin: 1%;
    box-shadow: 1px 1px 3px black
}

.preparo-lista, .ingredientes-lista{
    display: flex;
    flex-direction: column;
}

h1{
    background-color: bisque;
    padding: 2%;
    border-top-left-radius: 7%;
    border-bottom-right-radius: 7%;
    margin-bottom: 5%;
    padding-left: 4%;
    border: 1px solid black;
}

h2{
    background-color: rgb(255, 142, 4);
    padding: 1%;
    padding-left: 3%;
    border-top-left-radius: 7%;
    border-bottom-right-radius: 7%;
    margin-bottom: 5%;
    border: 1px solid black;
}

.preparo-lista li, .ingredientes-lista li{
    padding: 2%;
    margin-left: 10%;
}


