*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: rgb(69, 69, 69);
    font-size: 17px;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}
body{
    background-color: #FCF5E5;
        overflow-x: hidden;
}
.divCadastro{
   margin-left: 40px;
   padding: 20px;
   display: grid;
   grid-template-columns: 340px 340px;
   gap: 50px;
}
.divCadastro div{
    margin-top: 20px;
    margin-left: 30px;
    border: 1px solid black;
    padding: 10px;
    width: 340px;
    background-color: aliceblue;
}
.divCadastro div:focus{
    outline: 10px solid black;
}
input{
    background-color: aliceblue;
    border: none;
}
input:focus{
    outline: none;
}
main{
    transform: translate(310px, 130px);
    /*transform: translate(500px, 130px);*/
    width: 900px;
    background-color: rgb(248, 248, 184);
    border: 1px solid black;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    
}
.titu{
    transform: translate(35px, 25px);
    padding: 5px;
    padding-left: 20px;
    background-color: white;
    width: 795px;
    margin-left: 15px;
    border:1px solid black ;
    border-top-right-radius: 15px ;
    border-bottom-right-radius: 15px ;
    
}
button{
    width: 150px;
    padding: 5px;
    height: 55px;
    transform: translate(654px, -19px);
    background-color: transparent;
    border: none;
    color: white;
    
}
select{
    margin-left: 50px;
    
}
h2{
    font-size: large;
}

#pao{
    transform: translate(-100px, -440px);
    transform: translate(-300px, -440px);
}
#alfa{
    transform: translate(-160px, -390px);
    transform: translate(-360px, -390px);
    z-index: -1;
}
#toma{
    transform: translate(-160px, -290px);
    transform: translate(-360px, -290px);

    z-index: -2;
}
#quei{
    transform: translate(-160px, -190px);
    transform: translate(-360px, -190px);

    z-index: -3;
}
#carne{
    transform: translate(-160px, -60px);
    transform: translate(-360px, -60px);

    z-index: -4;
}
#paobaixo{
    transform: translate(350px, 280px);
    transform: translate(167px, 260px);

    z-index: -5;
}
#sache{
    width: 250px;
    height: 100px;
    transform: translate(608px, 320px);
    position: absolute;
    z-index: -1;
}
#sache:hover{
    transform: scale(1.2);
}
#ket{
    transform: rotate(45deg) translate(-340px, 100px);
    width: 600px;
    z-index: 10;
}
#must{
    width: 600px ;
    transform: rotate(-45deg) translate(1000px, 700px);
    z-index: 10;
    
}
.mancha{
    position: absolute;
    width: 500px;
    z-index: 2;

}


.divCadastro div, label, input{
    position: relative;
    z-index: 2;
    
}
.divCadastro div, input{
    opacity: 0.9;
}
.titulo{
    margin-top: 35px;
    margin-left: 10px;
    /*transform: rotate(-25deg);*/
}
.titulo2{
    margin-left: 20px;
    /*transform: rotate(-25deg);  */
}
.titulo p{
    color: aliceblue;
    text-shadow: 1px 1px black;
    font-size: large;
}
.titulo2 p{
    font-size: large;
    color: rgb(255, 173, 101);
    text-shadow: 1px 1px rgb(0, 0, 0);
}
#ped{
    position: absolute;
    width: 130px;
    height: 130px;
    /*transform: rotate(25deg) translate(870px, -310px);*/
    transform: rotate(25deg) translate(700px, -250px);
    z-index: 2;
    background-color: #FFFF99;
}
#prego{
    position: absolute;
    transform: translate(5px, 5px);
    width: 15px;
    height: 15px;
    background-color: lightslategray;
    border-radius: 30px;
}
